*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "苹方","微软雅黑";
	font-size: 0.16rem;
}
a{
	text-decoration: none;
}
body{
	background-color: #ffffff;
}
img{
	border: none;
	display: block;
}