@import url('base.css');
img{
    display: block;
    width:100%;
}
/*头部*/
.header{
    width:100%;
    height: 0.45rem;
}
/*标题*/
.title{
    width:100%;
    height: 0.8rem;
    line-height: 0.8rem;
    display: flex;

}
.title i{
    font-size:0.4rem;
    margin-left:0.2rem;
    color:#36a8fe;
    display: block;
    margin-bottom:0.2rem;
}
.title h2{
    font-size:0.4rem;
    font-weight: 500;
    margin-left:2.8rem;
    color:#4ebbfe;
}
/*内容开始*/
.contents{
    width:100%;
    overflow: hidden;
    padding-bottom:1rem;
    box-shadow: 0 0.1rem 0.1rem 0.08rem rgba(200,200,200,0.05) inset;
}
.contents .login{
    width:100%;
    height: 0.63rem;
    margin-top:2.3rem;
    position: relative;
    margin-bottom:0.18rem;
}
.contents .login .btn_left{
    position: relative;
    width:100%;
    height: 0.63rem;
    font-size: 0.3rem;
    line-height: 0.3rem;
    text-align:center;
    color:#646666;
    margin:0 auto;
}
.contents .login .btn_right{
    width:1.49rem;
    height: 0.63rem;
    font-size: 0.3rem;
    line-height: 0.3rem;
    text-align:center;
    color:#c9cbcc;
    margin-left:0.6rem;
    float: left;
}
.contents .telephone{
    width:5.19rem;
    height: 0.47rem;
    padding-top:0.43rem;
    border-bottom:2px solid #f3f6f7;
    margin:0 auto;
}
.contents .telephone .tele_cont{
    width:100%;
    height: 0.25rem;
    position: relative;
}
.contents .telephone .tele_cont .picture{
    width:0.18rem;
    height: 0.25rem;
    margin-left:0.16rem;
    float: left;
}
.contents .telephone .tele_cont p{
    width:0.37rem;
    height: 0.25rem;
    font-size:0.16rem;
    color:#40b1ff;
    margin-left:0.32rem;
    line-height: 0.25rem;
    float: left;
}
.contents .telephone .tele_cont input{
    font-size:0.16rem;
    font-color:#c9cbcc;
    position: absolute;
    top:0;
    left:0.64rem;
    width:3.5rem;
    height: 0.25rem;
    outline: none;
    border:0;
}
::-webkit-input-placeholder{
    color:#c9cbcc;
    font-size:0.16rem;
}

.contents .btn{
    width:3.86rem;
    height: 0.52rem;
    background: #3bacfe;
    border-radius:0.26rem;
    margin:0.4rem auto 0.32rem;
    font-size:0.2rem;
    line-height: 0.52rem;
    text-align: center;
    color:#fff;
    cursor: pointer;
}
.contents p{
    width:100%;
    font-size:0.2rem;
    text-align:center;
    color:#afb1b2;
    line-height: 0.25rem;
}
.contents p span{
    display: inline-block;
    width:0.13rem;
    height: 0.13rem;
    background: #7ac2fe;
    box-shadow: 0 0 0.15rem 0.1rem rgba(231,231,231,1);
    border-radius: 50%;
}