@import url('base.css');
img{
    display: block;
    width:100%;
}
body{
    background: #fbfeff;
}
/*头部*/
.header{
    width:100%;
    height: 0.45rem;
}
/*标题*/
.title{
    width:100%;
    height: 0.8rem;
    line-height: 0.8rem;
    display: flex;

}
.title i{
    font-size:0.4rem;
    margin-left:0.2rem;
    color:#36a8fe;
    display: block;
    margin-bottom:0.2rem;
}
.title h2{
    font-size:0.4rem;
    font-weight: 500;
    margin-left:2.5rem;
    color:#4ebbfe;
}
/*搜索栏开始*/
.search{
    width:100%;
    height: 0.66rem;
    padding:0.03rem 0.2rem;
    box-sizing:border-box;
    margin-bottom:0.14rem;
}

.search .search_box{
    width:100%;
    height: 0.66rem;
    float:left;
    position: relative;
}
.search .search_box i{
    position: absolute;
    right:0.15rem;
    top:0.18rem;
    color:#a1dfbd;
    font-size:0.16rem;
}
.search .search_box input{
    position: absolute;
    left:0;
    top:0.04rem;
    height: 0.5rem;
    border-radius:0.28rem;
    padding-left:0.15rem;
    width:6.95rem;
    border:0.03rem solid #e8f6ff;
    line-height: 0.46rem;
    font-size:0.12rem;
    background: #f2faff;
    outline: none;
}
::-webkit-input-placeholder{
    color:rgba(55,165,255,0.7);
    font-size:0.16rem;
}
/*内容开始*/
.contents{
    width:100%;
    overflow: hidden;
    box-shadow: 0 0.1rem 0.1rem 0.08rem rgba(180,180,180,0.08) inset;
}
.contents .img_box{
    width:3.67rem;
    height: 3.1rem;
    margin:2.52rem auto 0.05rem;
}
.contents p{
    text-align: center;
    line-height: 0.34rem;
    font-size: 0.24rem;
    color:#979899;
}







