@import url(base.css);
.bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.topBox{
	width: 100%;
	height: 1.34rem;
	padding-top: 0.38rem;
	box-sizing: border-box;
	position: relative;
}
.topBox h2{
	width: 100%;
	height: 0.96rem;
	line-height: 0.96rem;
	text-align: center;
	font-size: 0.4rem;
	color: #4ebbfe;
}
.topBox a{
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	top: 35px;
	left: 10px;
	color: #4ebbfe;
}
.kongbai{
	width: 100%;
	height: 0.33rem;
	background-image: -webkit-linear-gradient(bottom,#ecf8ff,#fbfeff);
	background-image: -moz-linear-gradient(bottom,#ecf8ff,#fbfeff);
	background-image: -ms-linear-gradient(bottom,#ecf8ff,#fbfeff);
	background-image: -o-linear-gradient(bottom,#ecf8ff,#fbfeff);
	background-image: linear-gradient(bottom,#ecf8ff,#fbfeff);
}
.talk1{
	width: 7.02rem;
	height: 1.1rem;
	margin: 0.46rem auto 0;
}
.talk1 .img{
	width: 0.8rem;
	height: 100%;
	float: left;
}
.talk1 img{
	width: 0.8rem;
	height: 0.8rem;
}
.talk1 .img p{
	width: 0.8rem;
	text-align: center;
}
.talk1 .text{
	float: left;
	margin-top: 0.21rem;
	margin-left: 0.27rem;
	width: 4.75rem;
	height: 0.68rem;
	border-radius: 0.34rem;
	border-top-left-radius: 0;
	text-align: center;
	line-height: 0.68rem;
	color: #fff;
	background-image: -webkit-linear-gradient(left,#30a3fe,#6ed5fe);
	background-image: -moz-linear-gradient(left,#30a3fe,#6ed5fe);
	background-image: -ms-linear-gradient(left,#30a3fe,#6ed5fe);
	background-image: -o-linear-gradient(left,#30a3fe,#6ed5fe);
	background-image: linear-gradient(left,#30a3fe,#6ed5fe);
	box-shadow: 0 0.02rem 0.1rem 0.02rem rgba(86, 193, 254, 0.6);
}
.talk2{
	margin-top: 0.2rem;
}
.talk2 .img{
	width: 0.8rem;
	height: 100%;
	float: right;
}
.talk2 .img p{
	width: 0.8rem;
	text-align: center;
}
.talk2 .text{
	float: right;
	margin-top: 0.21rem;
	margin-right: 0.27rem;
	width: 2.87rem;
	height: 0.68rem;
	border-radius: 0.34rem;
	border-top-left-radius: 0;
	text-align: center;
	line-height: 0.68rem;
	color: #fff;
	background-image: -webkit-linear-gradient(left,#2fd4ba,#2dde58);
	background-image: -moz-linear-gradient(left,#2fd4ba,#2dde58);
	background-image: -ms-linear-gradient(left,#2fd4ba,#2dde58);
	background-image: -o-linear-gradient(left,#2fd4ba,#2dde58);
	background-image: linear-gradient(left,#2fd4ba,#2dde58);
	box-shadow: 0 0.02rem 0.1rem 0.02rem rgba(45, 220, 103, 0.6);
}
.talk3{
	margin-top: 0.2rem;
}
.talk3 .text img{
	width: 3.25rem;
	height: 0.4rem;
	margin: 0.15rem auto;
}
.talk3 .text{
	width: 3.7rem;
}
.talk3 span{
	display: block;
	width: 0.54rem;
	height: 0.14rem;
	float: left;
	margin-top: 0.37rem;
	margin-left: 0.17rem;
	color: #6ad1fe;
}
.end{
	width: 7.02rem;
	height: 0.98rem;
	background-color: #36a8fe;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: space-between;
}
.end .img1{
	width: 0.64rem;
	height: 0.43rem;
	margin-top: 0.3rem;
}
.end .img2{
	width: 0.5rem;
	height: 0.5rem;
	margin-top: 0.3rem;
}
.end input{
	width: 5.12rem;
	height: 0.58rem;
	border: 0.03rem solid #2993e3;
	border-radius: 0.29rem;
	margin-top: 0.2rem;
	outline: 0;
	padding-left: 0.2rem;
}