@import "base.css";
.Whole{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.name{
    width: 7.50rem;
    height: 0.95rem;
    margin-top: 0.4rem;
    background:#fbfeff;
}
.name i{
    display: block;
    width: 0.7rem;
    height: 0.95rem;
    line-height: 0.95rem;
    padding-left: 0.2rem;
    float: left;
    color: #36a8fe;
}
.jinTong{
    width: 5.5rem;
    height: 100%;
    font-size: 0.40rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-align: center;
    color: #36a8fe;
    line-height: 0.95rem;
    margin: 0 auto;
    float: left;
}
/*导航栏开始*/
nav{
    width: 7.50rem;
    height: 0.95rem;
    background: #fbfeff;
}
.nav{
    width: 7.3rem;
    height: 0.95rem;
    margin: 0 auto;
    display: flex;
}
.nav_list{
    width: 1.33rem;
    height: 0.52rem;
    margin: 0.25rem auto 0;
    /*background: #e7f6ff;*/
    border-radius: 0.26rem;
}
.nav_list:first-child{
    background:#3bacfe;
    box-shadow: 0 2px 4px 1px #3bacfe;
}
.nav_list p{
    font-size: 0.22rem;
    text-align: center;
    line-height: 0.52rem;
    color: #3bacfe;
}
.shadow{
    width: 7.5rem;
    height: 0.24rem;
    background-image: -webkit-linear-gradient(top,#ecf8ff,#f7fcff);
    background-image: -moz-linear-gradient(top,#ecf8ff,#f7fcff);
    background-image: -ms-linear-gradient(top,#ecf8ff,#f7fcff);
    background-image: -o-linear-gradient(top,#ecf8ff,#f7fcff);
    background-image: linear-gradient(top,#ecf8ff,#f7fcff);
}
.list{
    width: 100%;
    height: 2.03rem;
    /*background: lawngreen;*/
}
.choice{
    width: 7rem;
    height: 2.03rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.cho_list{
    width: 1.13rem;
    height: 2.03rem;
    background:#fbfeff;
}
.cho_list span{
    display: block;
    text-align: center;
    color: #8e9397;
   font-size: 15px;
}
/*商品开始*/
.tab{
    width: 7.50rem;
    height: 0.5rem;
    background:#fbfeff;
    margin-bottom: 0.24rem;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.tab_list{
    font-size: 0.16rem;
    line-height: 0.5rem;
    color: #3bacfe;
}
.tab_list:first-child{
    color: #36d681;
}
.content{
    width: 7.50rem;
    height: 1.97rem;
    margin-bottom: 0.24rem;
}
.content:last-child{
    margin-bottom: 0;
}
.con_left{
    width: 1.97rem;
    height: 1.97rem;
    border-radius: 5px;
    background: #fff;
    margin-left: 0.24rem;
    float: left;
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.1);
    overflow: hidden;
}
.con_right{
    width: 5.14rem;
    height: 1.97rem;
    float: right;
}
.con_right h3{
    font-size: 0.32rem;
    color: #8a8c8d;
}
.con_right p{
    width: 5.14rem;
    height: 0.4rem;
    border-bottom: 1px solid #c7caca;
    font-size: 0.14rem;
    color: #c7caca;
}
.price{
    width: 5.14rem;
    height: 0.52rem;
}
.price_L{
    width: 1.3rem;
    height: 0.52rem;
    overflow: hidden;
    float: left;
}
.price_C{
    width: 1.3rem;
    height: 0.52rem;
    margin-left: 0.3rem;
    overflow: hidden;
    float: left;
}
.price_R{
    width: 1.3rem;
    height: 0.52rem;
    font-size: 0.2rem;
    color: #fbb548;
    float: right;
    text-align: center;
    line-height: 0.52rem;
}
.author{
    width: 1.3rem;
    height: 0.52rem;
}