@import url(base.css);
.bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.topBox{
	width: 100%;
	height: 1.34rem;
	padding-top: 0.38rem;
	box-sizing: border-box;
	position: relative;
}
.topBox h2{
	width: 100%;
	height: 0.96rem;
	line-height: 0.96rem;
	text-align: center;
	font-size: 0.4rem;
	color: #4ebbfe;
}
.topBox a{
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	top: 35px;
	left: 10px;
	color: #4ebbfe;
}
.kongbai{
	width: 100%;
	height: 0.33rem;
	background-image: -webkit-linear-gradient(bottom,#ecf8ff,#fbfeff);
	background-image: -moz-linear-gradient(bottom,#ecf8ff,#fbfeff);
	background-image: -ms-linear-gradient(bottom,#ecf8ff,#fbfeff);
	background-image: -o-linear-gradient(bottom,#ecf8ff,#fbfeff);
	background-image: linear-gradient(bottom,#ecf8ff,#fbfeff);
}
img{
	width: 1.33rem;
	height: 1.24rem;
	margin: 0.93rem auto 0;
}
.text{
	width: 2.24rem;
	height: 0.35rem;
	display: flex;
	justify-content: space-between;
	margin: 0.48rem auto 0;
}
.text i{
	display: block;
	width: 0.1rem;
	height: 0.05rem;
	border-radius: 0.025rem;
	background: #3ab1ff;
	margin-top: 0.15rem;
}
.text p{
	font-size: 0.24rem;
	line-height: 0.35rem;
}
.text span{
	font-size: 0.31rem;
	color: #525f67;
	font-weight: 800;
}
button{
	display: block;
	width: 3.96rem;
	height: 0.6rem;
	border-radius: 0.3rem;
	outline: 0;
	border: 0;
	margin: 1.35rem auto 0;
	background-image: -webkit-linear-gradient(left,#37e06f,#32d69a);
	background-image: -moz-linear-gradient(left,#37e06f,#32d69a);
	background-image: -ms-linear-gradient(left,#37e06f,#32d69a);
	background-image: -o-linear-gradient(left,#37e06f,#32d69a);
	background-image: linear-gradient(left,#37e06f,#32d69a);
	box-shadow: 0 0.02rem 0.1rem 0.02rem rgba(55, 223, 116, 0.5);
}
button a{
	display: block;
	width: 3.96rem;
	height: 0.6rem;
	border-radius: 0.3rem;
	color: #fff;
	line-height: 0.6rem;
	text-align: center;
}